* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(128, 175, 73);
}

canvas {
	display: block;
}

.debug-overlay-component {
	padding-bottom: 2px;
}

#ui-debug-overlay {
	user-select: none;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 24px;
}

#ui-pick-item {
	display: none;
	color: white;
	user-select: none;
	position: absolute;
	top: 60%;
	left: 50%;
	font-size: 30px;
}

#ui-health-bar {
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	border-radius: 5px;
	bottom: 60px;
	left: 50%;
	width: 350px;
	height: 30px;
	transform: translateX(-50%);
	padding: 6px;
}

#health-bar-container {
	position:relative;
	height: 100%;
	width: 100%
}

#current-health {
	z-index: 1;
	position:absolute;
	height: 100%;
}

#taken-health {
	z-index: 0;
	position:absolute;
	background: rgb(199,199,199);
	height: 100%;
	transition: width 2s;
	transition-timing-function: cubic-bezier(32,41,67,97);
}

.red-black-pulse-animation {
	animation-name: red-black-pulse;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes red-black-pulse {
	from {background-color: red;}
	to {background-color: black;}
}

#pick-key {
	display: inline;
	background: rgba(0, 0, 0, 0.4);
	margin-right: -18px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 8px;
}

#pick-item {
	display: inline;
	margin-left: 30px;
	background: rgba(0, 0, 0, 0.4);
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 8px;
}

#ui-inventory {
	position: absolute;
	left: 0;
	top: 0;
	color: white;
	background: rgba(0, 0, 0, 0.4);
	user-select: none;
	font-size: 22px;
}

.weapon-slot {
	margin-bottom: 30px;
	height: 68px;
	border-radius: 5px;
}

.weapon-image {
	width: 80px;
	vertical-align: bottom;
}

.weapon-slot-number {
	display: inline-block;
	font-size: 56px;
	vertical-align: top;
	padding-right: 50px;
	padding-left: 5px;
}

.weapon-image-name-container {
	display: inline-block;
	padding-right: 10px;
}

.selected-weapon-slot {
	background-color: rgba(0, 0, 0, 0.4);
}

#ui-weapon {
	position: absolute;
	right: 10px;
	bottom: 35px;
	user-select: none;
	font-size: 28px;
	color: white;
	font-weight: bold;
}